/* 전체 컨테이너 */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* 모든 섹션 제목 */
h1, h2 {
    color: #333;
    font-family: 'Arial', sans-serif;
}

/* 폼 스타일 */
form {
    margin: 20px 0;
}

input[type="text"], input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

/* 로딩 텍스트 스타일 */
p {
    color: #666;
    font-family: 'Arial', sans-serif;
}

/* 리스트 스타일 */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

li a {
    text-decoration: none;
    color: #333;
}

li a:hover {
    text-decoration: underline;
}

/* 섹션 스타일 */
.section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}
